	 <!doctype html>
	<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png" />
		<!--<link rel="icon" type="image/png" href="/assets/img/favicon.png" />-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>{{envrionment}} Dashboard</title>

		<!--/////////////////////////////////////////////////////////////////////-->

		<!-- Page Meta -->
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
		<meta name="viewport" content="width=device-width" />

		<!--/////////////////////////////////////////////////////////////////////-->

		<!-- Bootstrap core CSS     -->
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
	    <!-- Animation library for notifications   -->
	    <link href="/assets/css/animate.css" rel="stylesheet"/>
		<!--  Material Dashboard CSS    -->
		<link href="/assets/css/dashboard.css" rel="stylesheet"/>
		<!--  Pagination -->
		<link href="/assets/css/pagination.css" rel="stylesheet"/>
		
		<!--     Fonts and icons     -->
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'/>
		<!-- Pikaday -->
		<link rel="stylesheet" href="/assets/css/pikaday.css">
		<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
	</head>

	<!--/////////////////////////////////////////////////////////////////////-->

	<body>

		<div class="wrapper">
			
			<!-- Filters -->



			<div class="sidebar" data-color="blue">
				<form action='/' method='GET'>
				<div class="sidebar-wrapper">


							<div style="margin-top: -9.7px;">
							<a href="/user/logout" style="width: 99.5%; height: 50%; font-size: 120%;" class="btn btn-primary">
							
							<b>Logout</b></a>
	            			</div>


					<ul class="nav">
						<br>
						<br>
						<li>
							<center><p style="color: white; font-size: 200%; ">{{env}}</p></center>
						</li>
						<br>
						<br>
						<br>
						<br>
						<div class='filter background'>
						<!-- Recipient Filter -->
						<li>
							<center>
								<br/>
									<input type="text" list="Recipient" name="rec" style="width:200px; margin-top: 15px; font-size: 150%; margin-right: 10px;" id="myRInput"  placeholder="Recipient">
									<datalist id="Recipient">
										{{#each CTCRECIP}}
										<option value="{{DISTINCT}}">{{DISTINCT}}</option>
										{{/each}}
									</datalist>
							</center>
						</li>

						<br>

						<!-- Industry Seg. Filter -->
						<li>
							<center>

								<br/>
								<input type="text" list="Industry" name="seg" style="width:200px; margin-top: 15px; font-size: 150%; margin-right: 10px;" id="myISInput" placeholder="Industry Segment">
									<datalist id="Industry">
										{{#each INDSEG}}
										<option value="{{DISTINCT}}">{{DISTINCT}}</option>
										{{/each}}
									</datalist>
							</center>
						</li>

						<br>

						<!-- Status Filter -->
						<li>
							<center>

								<br/>
								<input type="text" list="Status" name="stat" style="width:200px; margin-top: 15px;   font-size: 150%; margin-right: 10px;" id="mySInput"  placeholder="Status">
									<datalist id="Status">
										

										<option value="TERMINATED">TERMINATED</option>

										<option value="HOLD">HOLD</option>

										<option value="WAREHOUSE">WAREHOUSE</option>

										<option value="RECEIVED">RECEIVED</option>

										<option value="FAILED">FAILED</option>

										<option value="EMPTY">EMPTY</option>

										<option value="MARKED FOR DELIVERY">MARKED FOR DELIVERY</option>



										
									</datalist>
							</center>
						</li>
						<br>
						<!-- Start Time Filter -->
						<li>
							<center>

								<br/>
								<input name="name" style="width:200px; margin-top: 15px;   font-size: 150%; margin-right: 10px;" type="text" id="minDatePicker" placeholder="EFFDATE - Start Date" />
							</center>
						</li>
						<br>
						<li>
							<center>
								<input name="name" style="width:200px; margin-top: 15px;   font-size: 150%; margin-right: 10px;" type="text" id="maxDatePicker" placeholder="EFFDATE - End Date" />
							</center>
						</li>

						<br>
					</ul>
												<button type='submit' style='margin-left: 50px;' class='btn btn-primary'>Set Filter</button>

				</div>
				</form>
						
				</div>
			<!-- Mobile Menu Nav-->
			<div class="main-panel">
				<nav class="navbar navbar-transparent navbar-absolute">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li>
									<img src="/images/logo.png" style="height: 25%; width: 35%" class="pull-right">

								</li>
							</ul>
						</div>

					</div>
				</nav>

				<br>
				<div class="content">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">

								<!--
								Search 
								<input type="text" style="width:200px; margin-top: 15px;  height: 35px; font-size: 150%; margin-right: 10px;" id="myInput" onkeyup="myFunction()" placeholder="Type to search>
								 -->

								{{#if error}}
								<center><div class="error">{{error}}</div></center>
								{{/if}}

								{{#if success}}
								<center><div class="success">{{success}}</div></center>
								{{/if}}
								
								<!-- Open Modal -->
								<a href="#openModal"><button id="openM" class="btn btn-primary pull-right" onclick="document.getElementById('openModal').style.display='block'" disabled>Submit</button></a>

							<!-- Modal -->

						<div id="openModal" class="modalDialog">
							<div>
								<form action="/user/Dashboard" id="actionsubmission" onsubmit="submitPayload()" method="POST">
									
								<div class="modal-header">

										<a href="#close" title="Close" class=" close"><b>X</b></a>

										<center><h2 ><b>{{env}}<b></h2></center>
								</div>

								<div class="modalcontent">
									<center>
										<p>
											<b>Are you sure you want to perform the selected Action ?</b>
										</p>
									</center>

										<br>

									<center>

										<input type="text" id="comment" class="modalInput" name="COMMENT" placeholder=" Action Comment..."> 

									</center>

								</div>
								<div class="modalfooter">
									
										<input type="submit"  class="modalButton"  value="submit"/>
									
								</div>
								</form>
							</div>
						</div>


								<!--/////////////////////////////////////////////////////////////////////-->

								<!-- Actions -->
								
								<select name="name" id="actions" class="pull-right" style="width:300px; margin-top: 15px;  height: 35px; font-size: 150%; margin-right: 10px;" type="text" id="STATUS">
							
									<option disabled selected value>Select an Action</option>
				
			
								</select>


								<form action="/user/Dashboard/1" method = "GET"> 
								<button type="submit" style="margin-left: 20.1px;" class="btn btn-primary">Clear Filter</button>
								</form>
								

								<!--/////////////////////////////////////////////////////////////////////-->


							<!-- Table Card -->

								<div class="card card-plain">

									<div class="card-content 
									table-responsive">
									<table class="table table-hover" id='myTable'>
										<thead>
											 <th onclick="sortTable(0)"></th>
											 <th onclick="sortTable(1)"><b><b>CTCRECIP</b></th>
											 <th onclick="sortTable(2)"><b>INDSEG</b></th>
											 <th onclick="sortTable(3)"><b>FILEARRIVEDTIME</b></th>
											 <th onclick="sortTable(4)"><b>EFFDATE</b></th>
											 <th onclick="sortTable(5)"><b>CHKDATE </b></th>
											 <th onclick="sortTable(6)"><b>STATUS</b></th>
											 <th onclick="sortTable(7)"><b>ORIGFILENAME</b></th>
											 <th onclick="sortTable(8)"><b>COMMENTS</b></th>
											 <th onclick="sortTable(9)"><b>ORGTVAL</b></th>
											 <th onclick="sortTable(10)"><b>ORGGRP</b></th>
											 <th onclick="sortTable(11)"><b>ORGGVAL</b></th>
											 <th onclick="sortTable(12)"><b>ORGTYPE</b></th>
											 <th onclick="sortTable(13)"><b>CRDATE</b></th>
											 <th onclick="sortTable(14)"><b>PROCID</b></th>
											 <th onclick="sortTable(15)"><b>YEAR</b></th>
											 <th onclick="sortTable(16)"><b>PERIOD</b></th>
											 <th onclick="sortTable(17)"><b>SUFFIX</b></th>
											 <th onclick="sortTable(18)"><b>FORMAT</b></th>
											 <th onclick="sortTable(20)"><b>VERSION</b></th>
											 <th onclick="sortTable(21)"><b>DEST</b></th>
											 <th onclick="sortTable(22)"><b>FILETYPE</b></th>
											 <th onclick="sortTable(23)"><b>DATATYPE</b></th>
											 <th onclick="sortTable(24)"><b>VALUE1</b></th>
											 <th onclick="sortTable(25)"><b>VALUE2</b></th>
											 <th onclick="sortTable(26)"><b>DOLLARAMT</b></th>
											 <th onclick="sortTable(27)"><b>DOLLARAMT2</b></th>
											 <th onclick="sortTable(28)"><b>TOTDETAIL</b></th>
											 <th onclick="sortTable(29)"><b>ORIGFILEID</b></th>
											 <th onclick="sortTable(30)"><b>ACCTNUM</b></th>
											 <th onclick="sortTable(31)"><b>ROUTNUM</b></th>
											 <th onclick="sortTable(32)"><b>DBTRNUM</b></th>
											 <th onclick="sortTable(33)"><b>DBTACCT</b></th>
											 <th onclick="sortTable(34)"><b>IBECKNUM</b></th>
											 <th onclick="sortTable(35)"><b>IENCKNUM</b></th>
											 <th onclick="sortTable(36)"><b>VBECKNUM</b></th>
											 <th onclick="sortTable(37)"><b>VENCKNUM</b></th>
											 <th onclick="sortTable(38)"><b>BATCHID</b></th>
 											 <th onclick="sortTable(38)"><b>SFGERRORCODE</b></th>
											 <th onclick="sortTable(38)"><b>SFGERRORCODEDESC</b></th> 
										</thead>
									
										<tbody>
											{{#each tableData}}
											<tr>
											<td><input class="tableCheckbox" type="checkbox" onclick="rowCheckboxHandler(this)" id="selectRow"></td>
											<td id="CTCRECIP">{{CTCRECIP}}</td>
											<td id="3">{{INDSEG}}</td>
											<td id="timezone">{{FILEARRIVEDTIME}}</td>
											<td>{{EFFDATE}}</td>
											<td>{{CHKDATE}}</td>
											<td id="6">{{STATUS}}</td>
											<td>{{ORIGFILENAME}}</td>
											<td>{{COMMENTS}}</td>
											<td>{{ORGTVAL}}</td>
											<td>{{ORGGRP}}</td>
											<td>{{ORGGVAL}}</td>
											<td>{{ORGTYPE}}</td>
											<td>{{CRDATE}}</td>
											<td>{{PROCID}}</td>
											<td>{{YEAR}}</td>
											<td>{{PERIOD}}</td>
											<td>{{SUFFIX}}</td>
											<td>{{FORMAT}}</td>
											<td>{{VERSION}}</td>
											<td>{{DEST}}</td>
											<td>{{FILETYPE}}</td>
											<td>{{DATATYPE}}</td>
											<td>{{VALUE1}}</td>
											<td>{{VALUE2}}</td>
											<td>{{DOLLARAMT}}</td>
											<td>{{DOLLARAMTh}}</td>
											<td>{{TOTDETAIL}}</td>
											<td>{{ORIGFILEID}}</td>
											<td>{{ACCTNUM}}</td>
											<td>{{ROUTNUM}}</td>
											<td>{{DBTRNUM}}</td>
											<td>{{DBTACCT}}</td>
											<td>{{IBECKNUM}}</td>
											<td>{{IENCKNUM}}</td>
											<td>{{VBECKNUM}}</td>
											<td>{{VENCKNUM}}</td>
											<td>{{BATCHID}}</td>
											<td>{{SFGERRORCODE}}</td>
											<td>{{SFGERRORDESC}}</td>
											</tr>
											{{/each}}
										</tbody>
									</table>
								</div>

							</div>
									<ul class='dpagination' >
									<li class='listItem'><form action='/user/Dashboard/{{info.data.previous}}' method='GET' onload="paginationCheck()" > 
										<button id="previous" type="submit"  class="btn btn-primary" > < </button>
									</form>
									</li>
									<li class='listItem'><p class='btn btn-primary' disabled>{{info.data.current}}</p></li>
									<li class='listItem'><form action='/user/Dashboard/{{info.data.next}}' method='GET'> 
										<button id="next" type="submit" class="btn btn-primary" onload="paginationCheck()"> > </button>
									</form>
									</li>
								</ul>
						</div>				
					</div>
				</div>
			</div>

	<script type="text/javascript">
	function submitPayload() {

		var comment = document.getElementById("comment").value;
		var action = document.getElementById("actions").value;
		var form = document.getElementById("actionsubmission");
		//activeStatus.push({"COMMENT":comment});
		for(var i = 0; i < activeStatus.length; i++)
		{
			console.log(activeStatus[i]);
			var input = document.createElement("input");
			input.setAttribute("type", "hidden");
			input.setAttribute("name", "FILEID");
			input.setAttribute("value", activeStatus[i].ORIGFILEID);
			form.appendChild(input);
		}


		form.action = '/user/Action/' + action;


	}

	</script>

	<!--- Pagination Checks -->
	<script>		
		function paginationCheck(){
			var previous = document.getElementById("previous").value;
			var previous = document.getElementById("next").value;
			//var previous = "{{info.data.previous}}";
			//var previous = "{{info.data.next}}";


			if (previous == null) {
            	//$("#previous").html('<button id="previous" type="submit"  class="btn btn-primary" > < </button>');
				
				$("#previous").attr(disabled, true);

       		 }
			if (next == null) {
            	//$("#next").html('<button id="next" type="submit"  class="btn btn-primary" > < </button>');

				$("#next").attr(disabled, true);

       		 }
		}
	<script>



	<script>
		function previous() {
			if(document.getElementById('previous').value == 0){
			$("#previous").html('<button id='previous' type="submit"  class="btn btn-primary" style='display: hidden;'>  </button>');
			}
		}
	</script>
	<!--<script type="text/javascript">
	function nextPage() {

		var action = document.getElementById("previous").value;	

		form.action = '/user/Action/' + action;
	}
	</script>
	-->
	<!--/////////////////////////////////////////////////////////////////////-->

	</body>

	<script>
	function GetAllRows()
	{
	    var myObjects = [];

	    $('#table1 tbody tr').each(function (index, value)
	    {
	        var row = GetRow(index);
	        myObjects.push(row);
	    });

	    return myObjects;
	}
	////////////////////////////////////////////////////////////////////////
	
	function GetRow(rowNum)
	{
	    var row = $('#table1 tbody tr').eq(rowNum);

	    var myObject = {};

	    myObject.ChangeType = row.find('td:eq(1)').text();
	    myObject.UpdateType = row.find('td:eq(2)').text();
	    myObject.CustomerPart = row.find('td:eq(3)').text();
	    myObject.ApplyDate = row.find('td:eq(9)').text();
	    myObject.Remarks = row.find('td:eq(10)').text();

	    return myObject;
	}
	</script>
	<!--/////////////////////////////////////////////////////////////////////-->

	<script>
	function showResult(str) {
	  if (str.length==0) { 
	    document.getElementById("myRInput").innerHTML="";
	    document.getElementById("myRInput").style.border="0px";
	    return;
	  }
	  if (window.XMLHttpRequest) {
	    // code for IE7+, Firefox, Chrome, Opera, Safari
	    xmlhttp=new XMLHttpRequest();
	  } else {  // code for IE6, IE5
	    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	  xmlhttp.onreadystatechange=function() {
	    if (this.readyState==4 && this.status==200) {
	      document.getElementById("myRInput").innerHTML=this.responseText;
	      document.getElementById("myRInput").style.border="1px solid #A5ACB2";
	    }
	  }
	  xmlhttp.open("GET","dashboard.handlebars"+str,true);
	  xmlhttp.send();
	}
		</script>

	<!--/////////////////////////////////////////////////////////////////////-->

		<!-- Pikaday -->
		<script src="/assets/js/moment.js"></script>
		<script src="/assets/js/pikaday.js"></script>

		<script>
			var picker = new Pikaday(
		    {	
		        field: document.getElementById('minDatePicker'),
		        format : "YYYY-MM-DD",
		        firstDay: 1,
		        minDate: new Date('2000-01-01'),
		        maxDate: new Date('2220-01-01'),
		        yearRange: [2000,2220]      
		    });
		</script>
	<!--//////////////////////////////////////5///////////////////////////////-->
		<!--Pikaday 2-->
		<script>
			var picker = new Pikaday(
		    {
		        field: document.getElementById('maxDatePicker'),
		        format : "YYYY-MM-DD",
		        firstDay: 1,
		        minDate: new Date('2000-01-01'),
		        maxDate: new Date('2220-01-01'),
		        yearRange: [2000,2220]      
		    });
		</script>
	<!--/////////////////////////////////////////////////////////////////////-->
		<!--JS Imports-->
		<script src="/assets/js/timezone.js"></script>
		<script src="/assets/js/jquery-3.1.0.min.js" type="text/javascript"></script>
		<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
		<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="/assets/js/material.min.js" type="text/javascript"></script>
		<script src="/assets/js/dashboard.js"></script>
		<script src="/assets/js/StatusFilter.js"></script>
		<script src="/assets/js/tablesort.js"></script>
		</html>
