<!doctype html>
<head>
	<meta charset="utf-8">
	<title>{{env}}</title>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900' rel='stylesheet' type='text/css'/>

	<link rel="stylesheet" href="/assets/css/animate.css"/>
	<!-- Custom Stylesheet -->
	<link rel="stylesheet" href="/assets/css/style.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
	<div class="container">
		<center><img src="/images/logo.png" style="margin-top: 15%;"></center>
		{{#if error}}
			<center><div class="error">{{error}}</div></center>
		{{/if}}
		<form action="/login" method = "POST"> 
		<div class="login-box animated fadeInUp">

			<br>
			<br>

			<!--
			<select name="envrionment" id="soflow">
 		 		<option value="{{env}}" required>{{env}}</option>
			</select>
			-->
			<input type="text" id="soflow" name="envrionment" placeholder="{{env}}" disabled>
			<input type="hidden" name="envrionment" value="{{env}}">
			<br/>
			<input type="text" id="email" name="username" placeholder="User Name">
			<br/>
			<input type="password" id="password" name ="password" placeholder="Password">
			<br/>
			<button type="submit">Sign In</button>
		</div>
		</form>
	</div>
</body>

<script>
	$(document).ready(function () {
    	$('#logo').addClass('animated fadeInDown');
    	$("input:text:visible:first").focus();
	});
	$('#username').focus(function() {
		$('label[for="username"]').addClass('selected');
	});
	$('#username').blur(function() {
		$('label[for="username"]').removeClass('selected');
	});
	$('#password').focus(function() {
		$('label[for="password"]').addClass('selected');
	});
	$('#password').blur(function() {
		$('label[for="password"]').removeClass('selected');
	});
</script>
